# import libraries

In [2]:
import pandas as pd
import numpy as np

# Load DataSet

In [4]:
df= pd.read_csv(r"C:\Users\Aniket\Downloads\healthcare_dataset.csv")

In [6]:
df.head(1)

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Tiffany Ramirez,81.0,Female,O-,Diabetes,17-11-2022,Patrick Parker,Wallace-Hamilton,Medicare,37491.0,146,Elective,01-12-2022,Aspirin,Inconclusive

In [9]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df.shape

(10004, 15)

# Rename Table Name

In [14]:
df= df.rename(columns= {"Date of Admission":"Admission_Date",  "Blood Type":"Blood_Type",  "Doctor":"Doctor_Name",    "Hospital":"Hospital_Name",
                        "Date of Admission":"Date_of_Admission"  ,"Insurance Provider":"Insurance_Provider",  "Billing Amount":"Billing_Amount",
                        "Room Number":"Room_Number",  "Admission Type":"Admission_Type",  "Discharge Date": "Discharge_Date",
                        "Test Results":"Test_Results","Medical Condition" : "Medical_Condition"})

In [16]:
df.head(5)

,Name,Age,Gender,Blood_Type,Medical_Condition,Date_of_Admission,Doctor_Name,Hospital_Name,Insurance_Provider,Billing_Amount,Room_Number,Admission_Type,Discharge_Date,Medication,Test_Results
0,Tiffany Ramirez,81.0,Female,O-,Diabetes,17-11-2022,Patrick Parker,Wallace-Hamilton,Medicare,37491.0,146,Elective,01-12-2022,Aspirin,Inconclusive
1,Ruben Burns,35.0,Male,O+,Asthma,01-06-2023,Diane Jackson,"Burke, Griffin and Cooper",UnitedHealthcare,47304.0,404,Emergency,15-06-2023,Lipitor,Normal
2,Chad Byrd,61.0,Male,B-,Obesity,09-01-2019,Paul Baker,Walton LLC,Medicare,36875.0,292,Emergency,08-02-2019,Lipitor,Normal
3,Antonio Frederick,49.0,Male,B-,Asthma,02-05-2020,Brian Chandler,Garcia Ltd,Medicare,23303.0,480,Urgent,03-05-2020,Penicillin,Abnormal
4,Mrs. Brandy Flowers,51.0,Male,O-,Arthritis,09-07-2021,Dustin Griffin,"Jones, Brown and Murray",UnitedHealthcare,18086.0,477,Urgent,02-08-2021,Paracetamol,Normal

# Change Data Types

In [19]:
df.dtypes

Name                   object
Age                   float64
Gender                 object
Blood_Type             object
Medical_Condition      object
Date_of_Admission      object
Doctor_Name            object
Hospital_Name          object
Insurance_Provider     object
Billing_Amount        float64
Room_Number             int64
Admission_Type         object
Discharge_Date         object
Medication             object
Test_Results           object
dtype: object

In [21]:
df['Billing_Amount']=df['Billing_Amount'].astype('float64')

In [23]:
df["Date_of_Admission"]= pd.to_datetime(df["Date_of_Admission"])

C:\Users\Aniket\AppData\Local\Temp\ipykernel_28216\979881169.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["Date_of_Admission"]= pd.to_datetime(df["Date_of_Admission"])

In [25]:
df["Discharge_Date"] = pd.to_datetime(df["Discharge_Date"], format="%d-%m-%Y")

In [27]:
df.dtypes

Name                          object
Age                          float64
Gender                        object
Blood_Type                    object
Medical_Condition             object
Date_of_Admission     datetime64[ns]
Doctor_Name                   object
Hospital_Name                 object
Insurance_Provider            object
Billing_Amount               float64
Room_Number                    int64
Admission_Type                object
Discharge_Date        datetime64[ns]
Medication                    object
Test_Results                  object
dtype: object

# Handle Null Values

In [31]:
df.isna().sum().sum()

20

In [33]:
df.isna().any()

Name                  False
Age                    True
Gender                 True
Blood_Type            False
Medical_Condition     False
Date_of_Admission     False
Doctor_Name           False
Hospital_Name         False
Insurance_Provider    False
Billing_Amount         True
Room_Number           False
Admission_Type        False
Discharge_Date        False
Medication            False
Test_Results          False
dtype: bool

# Fill Null Values()

# Fill Gender column null values with NA

In [37]:
df["Gender"].fillna("NA",inplace=True)

C:\Users\Aniket\AppData\Local\Temp\ipykernel_28216\2138627115.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Gender"].fillna("NA",inplace=True)

In [39]:
df[df["Gender"].isnull()==1]

Empty DataFrame
Columns: [Name, Age, Gender, Blood_Type, Medical_Condition, Date_of_Admission, Doctor_Name, Hospital_Name, Insurance_Provider, Billing_Amount, Room_Number, Admission_Type, Discharge_Date, Medication, Test_Results]
Index: []

# Fill Billing Amount column null values with mean

In [42]:
df["Billing_Amount"].fillna(df["Billing_Amount"].mean(),inplace= True)

C:\Users\Aniket\AppData\Local\Temp\ipykernel_28216\1191098074.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Billing_Amount"].fillna(df["Billing_Amount"].mean(),inplace= True)

In [44]:
df[df["Billing_Amount"].isnull()==1]

Empty DataFrame
Columns: [Name, Age, Gender, Blood_Type, Medical_Condition, Date_of_Admission, Doctor_Name, Hospital_Name, Insurance_Provider, Billing_Amount, Room_Number, Admission_Type, Discharge_Date, Medication, Test_Results]
Index: []

# Fill Age column null values with mean

In [47]:
df["Age"].fillna(df["Age"].mean(),inplace=True)

C:\Users\Aniket\AppData\Local\Temp\ipykernel_28216\2595122914.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].mean(),inplace=True)

In [49]:
df[df["Age"].isnull()==1]

Empty DataFrame
Columns: [Name, Age, Gender, Blood_Type, Medical_Condition, Date_of_Admission, Doctor_Name, Hospital_Name, Insurance_Provider, Billing_Amount, Room_Number, Admission_Type, Discharge_Date, Medication, Test_Results]
Index: []

In [51]:
df.isnull().sum().sum()

0

In [53]:
df.shape

(10004, 15)

# Handle Duplicate Values

In [56]:
df.duplicated().sum()

4

# Drop Duplicates

In [59]:
df=df.drop_duplicates()

# Shape

In [62]:
df.shape

(10000, 15)

# Feature Enginering

# Create New Columns

# New Column Age_Group

In [66]:
df["Age_Group"]= pd.cut(df['Age'], bins=[0,30,50,100], labels=['Young','Middle Age','Adult'])

# New Column Length_Of_Hospital_Stay

In [68]:
df["Length_of_Hospital_Stay"] = (df["Discharge_Date"] - df["Date_of_Admission"]).dt.days

# New Column Bill_Category based on Billing_Amount_Column

In [70]:
df["Bill_Category"] = pd.cut(df["Billing_Amount"], bins=[0,10000,30000,50000,100000], labels=["Low","Medium","High","Very High"])

# New Column Admit_Month_Name

In [72]:
df["Admit_Month_Name"] = df["Date_of_Admission"].dt.strftime('%B')

# New Column Admit_Year

In [74]:
df['Admit_Year']= df['Date_of_Admission'].dt.year

In [76]:
# New Column Admit_Day_Of_Week

In [78]:
df["Admit_Day_Of_Week"]= df["Date_of_Admission"].dt.day_name()

In [80]:
df.head(10)

,Name,Age,Gender,Blood_Type,Medical_Condition,Date_of_Admission,Doctor_Name,Hospital_Name,Insurance_Provider,Billing_Amount,...,Admission_Type,Discharge_Date,Medication,Test_Results,Age_Group,Length_of_Hospital_Stay,Bill_Category,Admit_Month_Name,Admit_Year,Admit_Day_Of_Week
0,Tiffany Ramirez,81.0,Female,O-,Diabetes,2022-11-17,Patrick Parker,Wallace-Hamilton,Medicare,37491.0,...,Elective,2022-12-01,Aspirin,Inconclusive,Adult,14,High,November,2022,Thursday
1,Ruben Burns,35.0,Male,O+,Asthma,2023-06-01,Diane Jackson,"Burke, Griffin and Cooper",UnitedHealthcare,47304.0,...,Emergency,2023-06-15,Lipitor,Normal,Middle Age,14,High,June,2023,Thursday
2,Chad Byrd,61.0,Male,B-,Obesity,2019-01-09,Paul Baker,Walton LLC,Medicare,36875.0,...,Emergency,2019-02-08,Lipitor,Normal,Adult,30,High,January,2019,Wednesday
3,Antonio Frederick,49.0,Male,B-,Asthma,2020-05-02,Brian Chandler,Garcia Ltd,Medicare,23303.0,...,Urgent,2020-05-03,Penicillin,Abnormal,Middle Age,1,Medium,May,2020,Saturday
4,Mrs. Brandy Flowers,51.0,Male,O-,Arthritis,2021-07-09,Dustin Griffin,"Jones, Brown and Murray",UnitedHealthcare,18086.0,...,Urgent,2021-08-02,Paracetamol,Normal,Adult,24,Medium,July,2021,Friday
5,Patrick Parker,41.0,Male,AB+,Arthritis,2020-08-20,Robin Green,Boyd PLC,Aetna,22522.0,...,Urgent,2020-08-23,Aspirin,Abnormal,Middle Age,3,Medium,August,2020,Thursday
6,Charles Horton,82.0,Male,AB+,Hypertension,2021-03-22,Patricia Bishop,"Wheeler, Bryant and Johns",Cigna,39593.0,...,Urgent,2021-04-15,Lipitor,Abnormal,Adult,24,High,March,2021,Monday
7,Patty Norman,55.0,Female,O-,Arthritis,2019-05-16,Brian Kennedy,Brown Inc,Blue Cross,13547.0,...,Elective,2019-06-02,Aspirin,Normal,Adult,17,Medium,May,2019,Thursday
8,Ryan Hayes,33.0,Male,A+,Diabetes,2020-12-17,Kristin Dunn,"Smith, Edwards and Obrien",Aetna,24903.0,...,Elective,2020-12-22,Aspirin,Abnormal,Middle Age,5,Medium,December,2020,Thursday
9,Sharon Perez,39.0,Female,O-,Asthma,2022-12-15,Jessica Bailey,Brown-Golden,Blue Cross,22788.0,...,Urgent,2022-12-16,Aspirin,Normal,Middle Age,1,Medium,December,2022,Thursday

In [ ]:
df.to_csv(r"C:\Users\Aniket\Desktop\Health_Care_Data_Analysis_Project\HealthCare_Cleaned_DataSet.csv", index=False)